In [0]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://raw.githubusercontent.com/MengtingWan/marketBias/master/data/df_modcloth.csv'
dataset = pd.read_csv(url)
display(dataset.head())

   item_id       user_id  rating  ... brand  year split
0     7443          Alex       4  ...   NaN  2012     0
1     7443  carolyn.agan       3  ...   NaN  2012     0
2     7443         Robyn       4  ...   NaN  2012     0
3     7443            De       4  ...   NaN  2012     0
4     7443         tasha       4  ...   NaN  2012     0

[5 rows x 12 columns]

In [3]:
def missing_percentage(df):
    """This function takes a DataFrame(df) as input and returns two columns, total missing values and total missing values percentage"""
    ## the two following line may seem complicated but its actually very simple. 
    total = df.isnull().sum().sort_values(ascending = False)[df.isnull().sum().sort_values(ascending = False) != 0]
    percent = round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2)[round(df.isnull().sum().sort_values(ascending = False)/len(df)*100,2) != 0]
    return pd.concat([total, percent], axis=1, keys=['Total','Percent'])

missing_percentage(dataset)

           Total  Percent
brand      73980    74.06
size       21760    21.78
fit        18506    18.53
user_attr   8367     8.38
user_id        1      NaN